<%
const monthNames = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"]
let today = new Date()
let date = new Date(today.getFullYear(), today.getMonth(), 1)
%>
<div class='calendar-title'><%= monthNames[today.getMonth()] %> </div>
<div class='calendar-week' style="margin-bottom: 10px;">
    <div class="calendar-heading">S</div>
    <div class="calendar-heading">M</div>
    <div class="calendar-heading">T</div>
    <div class="calendar-heading">W</div>
    <div class="calendar-heading">T</div>
    <div class="calendar-heading">F</div>
    <div class="calendar-heading">S</div>
</div>
<div class='calendar-week first-week'>

<% while (date.getMonth() === today.getMonth()) { %>
        <% if (date.getDay() === 0) { %>
            </div>
            <div class='calendar-week' />
        <% } %>
        <a
        hx-get="/lifts?date=<%= date.toLocaleDateString("en-US") %>"
        hx-trigger="click"
        hx-target="div.notepad"
        hx-swap="innerHTML"
        class="calendar-day <%= date.getDate() === today.getDate() ? 'selected' : ''  %>">
        <div>
        <%= date.getDate() %>
        </div>
        </a>
        <% date.setDate(date.getDate() + 1); %>
<% } %>