<div class="login-content">
    <div class="divider"></div>
    <form action="/login" method="POST" class="login-form">
        <input type="text" name="username" class="login-input" placeholder="Username"/>
        <input type="password" name="password" class="login-input" placeholder="Password"/>
        <button type="submit">Log In</button>
    </form>
    <span class="or-text"> OR </span>
    <button><a href="signup">Sign Up</a></button>
    <div class="or divider"></div>
</div>