<nav>
    <div class="nav-content">
        <span class="nav-logo">
            <a href="/home">
                Lift-Mate
            </a>
        </span>
        <span class="nav-right">
            <span class="nav-greeting">
                Hi
                <span class="nav-user">
                    <%= username %>!
                </span>
            </span>
            <button>
                <button class='pink-on-white'><a href="/logout">Log Out</a></button>
            </button>
        </span>
    </div>
</nav>