<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <main>
        <div class="intro-div login-box">
            <div class="liftmate-text">
                <span class="lift-text">Lift</span>
                <span class="mate-text">Mate</span>
            </div>
            <%- include('../partials/loginForm') %> 
        </div>
    </main>
</body>
</html>