<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <main>
        <div class="intro-div login-box">
            <div class="login-content" style="margin-top: 0;">
                <div class="divider"></div>
                <form class="login-form" action="/signup" method="POST">
                    <input class="login-input" type="text" name="username" placeholder="Create Username"/>
                    <input class="login-input" type="password" name="password" placeholder="Create Password"/>
                    <button type="submit">Sign up</button>
                </form>
            </div>
            <div class="liftmate-text">
                <span class="lift-text">Lift</span>
                <span class="mate-text">Mate</span>
            </div>
        </div>
    </main>
</body>
</html>