<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<script>
    $(document).ready( () => {
        populateCalendar();
    })
</script>
<body>
    <nav>
        <div class="nav-content">
            <span>
                Lift-Mate
            </span>
            <span>
                Hi User!
            </span>
        </div>
    </nav>
    <main>
        <div class="lift-editor-panel">
            <div class="notepad" x-data="setHandler()">
                <h1 class="notepad-title">
                    <%= moment(date).format('MMMM Do, YYYY') %>
                </h1>
                <div class="notepad-content">
                    <% if (lift) { %>
                        <%- include('../movements/index', {movements, liftId: lift._id}) %> 
                   <% } else { %>
                        <%- include('../partials/notepadButton', {request: "POST", queryUrl: `/lifts?date=${date.toLocaleDateString("en-US")}`, label: "Create Lift"}) %>
                   <% } %>
                </div>
            </div>    
        </div>
        <div class="lift-viewer-panel">
            <div class="calendar">

            </div>
        </div>
    </main>
</body>
</html>