<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<script>
    $(document).ready( () => {
        let date = new Date(<%- JSON.stringify(date) %>)
        populateCalendar();
    })
</script>
<body>
    <nav>
        <div class="nav-content">
            <span>
                Lift-Mate
            </span>
            <span>
                Hi User!
            </span>
        </div>
    </nav>
    <main>
        <div class="lift-editor-panel">
            <div class="notepad">
                <h1 class="notepad-title">
                    <%= date %>
                </h1>
                 <% if (lift) { %>
                    Viewing Lift
                <% } else { %>
                    <form action="/lifts" method="POST">
                        <button type="submit">Create Lift</button>
                    </form>
                <% } %> 
            </div>    
        </div>
        <div class="lift-viewer-panel">
            <div class="calendar">

            </div>
        </div>
    </main>
</body>
</html>