body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width:500px;
    height:600px;
}

.intro-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lift-text {
    font-size: 32px;
    animation-duration: 5s;
}

.mate-text {
    font-size: 32px;
    animation-duration: 5s;
}

.liftmate-text {
    font-size: 0px;
    animation-duration: 5s;
    color: rgb(14, 87, 92);
    position:absolute;
    top:100px;
}

.intro-text {
    font-size: 96px;
    color: white;
    display: none;
    animation-duration: 3s;
    margin: 56px 0;
}

.login-box {
    margin-top: 80px;
    background: darkcyan;
    border-radius: 10px;
    animation-name: fade-in;
    animation-duration: 3s;
    height: 400px;
}

.login-form {
    margin-top: 50px;
}

@keyframes lift-text-move-right {
    0% {margin-right: 15px;font-size: 96px;}
    30% {margin-right: 15px;}
    60% {margin-right: 0px;font-size: 96px;}
    100% {font-size: 32px;}
}

@keyframes mate-text-move-left {
    0% {margin-left: 15px;font-size: 96px;}
    30% {margin-left: 15px;}
    60% {margin-left: 0px;font-size: 96px;}
    100% {font-size: 32px;}
}

@keyframes fade-out {
    0% {display:block}
    33% {color: black;}
    100% {color: white;}
}

@keyframes lift-mate-text {
    0% {color: white;top:310px;}
    20% {color: black;}
    30% {color: black;}
    60% {color: rgb(14, 87, 92);top:310px;}
    100% {top:100px;}
}

@keyframes fade-in {
    0% {background: white;}
    100% {background: darkcyan;}
}