:root {
    --dark: #011627;
    --light: #FDFFFC;
    --highlight: #41EAD4;
    --accent: #D10054;
    background: var(--dark);
}

body, html {
    margin: 0;
    height: 100%;
    background: var(--dark);
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    display: flex;
    height: 50px;
    padding: 0 -50%;
    background: var(--accent);
    flex: 1;
}

.nav-content {
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 auto;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-logo {
    color: var(--light);
    font-family: 'BioRhyme', serif;
    cursor: pointer;
}

.nav-greeting {
    color: var(--light);
}

.nav-user {
    background: var(--dark);
    padding: 3px 6px;
    border-radius: 5px;
    color: var(--highlight);
}

.lift-editor-panel {
    background: cornsilk;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lift-viewer-panel {
    background: darkgrey;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    max-height: 600px;
}

.calendar-week {
    display: flex;
    flex: 1;
}

.notepad {
    width: 80%;
    height: 60%;
    border: 1px dotted rgba(235, 142, 142, 0.577);
    /* background-image: url("/img/notepad.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.notepad-title {
    height: 10%;
}

.first-week {
    justify-content: flex-end;
}

.calendar-day {
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-day:hover {
    background-color: gainsboro;
}

.intro-div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lift-text {
    font-size: 50px;
    animation-duration: 5s;
}

.mate-text {
    font-size: 50px;
    animation-duration: 5s;
}

.liftmate-text {
    font-family: 'BioRhyme', serif;
    font-size: 0px;
    animation-duration: 5s;
    color: var(--accent);
    position:absolute;
    top:15%;
}

.intro-text {
    font-family: 'Raleway', sans-serif;
    font-size: 96px;
    color: var(--dark);
    display: none;
    animation-duration: 3s;
    margin: 60px 0;
}

.login-box {
    padding: 0 30px;
    background: var(--light);
    border-radius: 10px;
    animation-name: fade-in;
    animation-duration: 3s;
    height: 400px;
    width: 300px;
    margin-top: 110px;
}

.login-content {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 80%;
    margin-top: 20%;
    justify-content: space-around;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-around;
}

.login-input {
    color: var(--light);
    background: var(--dark);
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    border: none;
    transition: 0.1s;
    box-shadow: 0 0 0 1pt var(--accent);
    color: var(--light);
}

.login-input::placeholder {
    color: var(--light);
}

.login-input:focus {
    box-shadow: 0 0 3pt 2pt var(--highlight);
    outline: none;
    border-radius: 10px;
}

.divider {
    position: relative;
    height: 0px;
    width: 100%;
    border: 1px solid var(--dark);
    top: -8px;
}

.divider.or {
    position: relative;
    top: -62px;
}

.or-text {
    z-index: 3;
    width: max-content;
    align-self: center;
    background: var(--light);
    padding: 0 20px;
    animation-name: fade-in;
    animation-duration: 3s;
}

button {
    background: var(--accent);
    color: var(--light);
    border: none;
    font-size: 16px;
    width: auto;
    padding: 9px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pink-on-white {
    color: var(--accent);
    background: var(--light);
}

@keyframes lift-text-move-right {
    0% {margin-right: 15px;font-size: 96px;}
    30% {margin-right: 15px;}
    60% {margin-right: 0px;font-size: 96px;}
    100% {font-size: 50px;}
}

@keyframes mate-text-move-left {
    0% {margin-left: 15px;font-size: 96px;}
    30% {margin-left: 15px;}
    60% {margin-left: 0px;font-size: 96px;}
    100% {font-size: 50px;}
}

@keyframes fade-out {
    0% {display:block}
    33% {color: var(--light);}
    100% {color: var(--dark);}
}

@keyframes lift-mate-text {
    0% {color: var(--dark);top:46%;}
    20% {color: var(--light);}
    30% {color: var(--light);}
    60% {color:var(--accent);top:46%;}
    100% {top:15%;}
}

@keyframes fade-in {
    0% {background: var(--dark);}
    100% {background: var(--light);}
}