<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %> 
    <main>
        <div class="lift-editor-panel">
            <div class="notepad">
                <div
                    hx-get="/lifts?date=<%=new Date().toLocaleDateString("en-US")%>"
                    hx-trigger="load"
                    hx-target="div.notepad"
                    hx-swap="innerHTML"
                >
                </div>
            </div>
        </button>
        </div>
        <div class="main-divider"></div>
        <div class="lift-viewer-panel">
            <div class="calendar">
                <%- include('../partials/calendar') %> 
            </div>
        </div>
    </main>
</body>
</html>