<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 

<script>
    $(document).ready( () => {
        animateIntro()
    })
</script>

<body>
    <main>
        <div class="intro-div login-box">
            <div class="login-form">
                <form action="">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
                    <button>Log In</button>
                </form>
                OR
                <button>Sign Up</button>
            </div>
            <div class="intro-text">
                <div>
                    Do &nbspYou
                </div>
                <div>
                    Even
                </div>
               
            </div>
            <div class="liftmate-text">
                <span class="lift-text">Lift</span>
                <span class="mate-text">Mate</span>
            </div>
            <div class="intro-text">
                ?
            </div>
        </div>
    </main>
</body>
</html>