<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 

<script>
    $(document).ready( () => {
        animateIntro()
    })
</script>

<body>
    <main>
        <div class="intro-div login-box">
            <%- include('../partials/loginForm')%>
            <div class="intro-text">
                <div>
                    Do &nbspYou
                </div>
                <div>
                    Even
                </div>
            </div>
            <div class="liftmate-text">
                <span class="lift-text">Lift</span>
                <span class="mate-text">Mate</span>
            </div>
            <div class="intro-text">
                ?
            </div>
        </div>
    </main>
</body>
</html>