<form x-data="setHandler()">
    Type: <input type="text" name="type"></input>
    <template x-for="(field, index) in fields" :key="index">
        <div>
            Weight: <input x-model="field.weight" type="text" name="weight[]"></input> <br>
            Reps: <input x-model="field.reps" type="text" name="reps[]"></input> <br>
        </div>
    </template>
    <br>
    <button type="button" @click="addNewField()">+ Add Set</button> <br>
    <%- include('../partials/notepadButton', {request: "POST", queryUrl: `/movements?liftId=${liftId}`, label: "Add Movement"}) %>
</form>