<%- include('../partials/notepadButton', {request: 'GET', queryUrl: `/movements?liftId=${movement.lift_id}`, label: "Back"}) %>
<h2>
    <%= movement.type %> 
</h2>
<% for (set of movement.sets) { %>
    <p>
        <%= set.weight %>lbs x <%= set.reps %>
    </p>
<% } %>